.section_3 {
  padding: 0px;
}

.section_3__flex_row {
  display: flex;
  gap: 20px;
  padding: 0px;
}
@media (max-width: 768px) {
  .section_3__flex_row {
    display: flex;
    flex-direction: column;
  }
}
