.section_6 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
.cards_align {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}
.cards_align p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card img {
  width: 100%;
  max-width: 350px;
}

@media (max-width: 768px) {
  .card img {
    width: 100%;
    max-width: 393px;
  }
}
