.section_4 {
  width: 100%;
}

.section_4__icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.icon_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .section_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .section_4__icons {
    justify-content: center;
    align-items: self-start;
  }
}
