@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;1,500&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background: linear-gradient(50deg, red, blue);
  background-repeat: no-repeat;
}

.container {
  margin: 50px;
}
.card {
  background-image: linear-gradient(80deg, red, orange);
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  border-radius: 15px;
  position: relative;
}

.headstyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  margin-bottom: 20px;
  padding: 10px;
}
.headstyle p {
  font-size: 25px;
}

.title-text {
  color: white;
  padding: 10px;
}

.title-text h1 {
  font-size: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.title-text p {
  line-height: 1.3;
}

.backgroundtext {
  font-size: 256px;
  position: relative;
  right: 45px;
  opacity: 50%;
  color: white;
  margin-bottom: 30px;
}
.hidden {
  overflow: hidden;
}

.shoe {
  position: absolute;
  bottom: 0;
  left: 19px;
}

.shoe img {
  width: 120%;
}

.mainbutton {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.mainbutton button {
  border-color: blue;
  color: blue;
  border-radius: 20px;
  padding: 10px 40px;
  margin-bottom: 10px;
  margin-top: 40px;
  z-index: 2;
  cursor: pointer;
}
.mainbutton p {
  color: grey;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 5px;
  opacity: 70%;
  font-size: 14px;
}

.mainbutton button:hover {
  background-color: blue;
  color: white;
  transition: 1s;
}
